<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="mobile.matches" class="menu-button" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <h1>CRC-DEMO</h1>
  <span class="spacer"></span>

  <a mat-button href="https://github.com/dikman/crc" aria-label="GitHub Repository" aria-disabled="false">
    <img src="./assets/github-circle-white-transparent.svg"> GitHub
  </a>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="!mobile.matches" [mode]="mobile.matches ? 'over' : 'side'" [autoFocus]="true">
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of menu" routerLinkActive="active" [routerLink]="item.link">
        <h3 mat-line>{{item.title || item.link}}</h3>
        <p mat-line class="type-subtitle">{{item.category}}</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>